@import '../../../../../../node_modules/materialize-css/dist/css/materialize.css';
div.scrollmenu {
    overflow: auto;
    white-space: nowrap;
  }
  
  div.scrollmenu .eachitem {
    display: inline-block;
  }
  
  div.scrollmenu .eachitem:hover {
    background-color: #777;
  }
  
  /* Hide scrollbar for Chrome, Safari and Opera */
  div.scrollmenu::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE and Edge */
  div.scrollmenu {
    -ms-overflow-style: none;
  }

  .unset-float-left{
      float: unset !important;
  }