<div class="row" *ngIf="items.length" >
  <div class="col s12 m6">
    <div class="card">
      <div class="card-content">
        <span class="card-title">{{category.name}}</span>
        <div class="row scrollmenu">
          <!-- <div class="cat-bottom-border  text-center"> -->
          <div class="eachitem col s6 m6 unset-float-left" *ngFor="let item of items">
            <app-product-item [showName]="false" [showPrice]="false" [item]="item" (click)="itemDetailPage(item)">
            </app-product-item>
          </div>
          <!-- </div> -->
        </div>
      </div>
      <div class="card-action">
        <a (click)="navigateTo('marketplace/products')">See All</a>
      </div>
    </div>
  </div>
</div>