<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon name="chevron-back-circle"></ion-icon>
      </ion-button>
    </ion-buttons>
    <p slot="secondary" class="title-para">Edit home</p>
  </ion-toolbar>
  <ion-toolbar color="medium">
    <ion-searchbar
      #searchbox
      (ionChange)="searchChange($event)"
      placeholder="Search previous locations"
      (ionCancel)="onCancel($event)"
      class="search-box"
    ></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content class="location-content no-scroll">
  <!-- <button class="current-loc">
    <div class="content">
      <ion-icon name="locate-outline" class="locate"></ion-icon>
      <p>Current Location</p>
    </div>
  </button> -->

  <ion-list>
    <ion-item
      class="ion-text ion-no-padding ion-no-margin"
      (click)="getCurrentLocation()"
    >
      <ion-avatar>
        <ion-icon name="locate-outline" class="location-icon"></ion-icon>
      </ion-avatar>
      <ion-label class="ion-text">
        <p class="ion-text">Currnet Location</p>
      </ion-label>
      <ion-spinner *ngIf="loadingIndex === -2" slot="end"></ion-spinner>
    </ion-item>
    <ion-item
      *ngIf="lstPlaces.length === 0"
      class="ion-text ion-no-padding ion-no-margin"
    >
      <ion-avatar>
        <ion-icon name="location" class="location-icon"></ion-icon>
      </ion-avatar>
      <ion-label class="ion-text">
        <p class="ion-text">Search Location</p>
        <p class="secondary-text ion-text-wrap">
          search a place or set your current location
        </p>
      </ion-label>
    </ion-item>
    <ion-item
      *ngFor="let address of lstPlaces; let i = index;"
      (click)="getCoordsOfItem(address, i)"
      class="ion-text ion-no-padding ion-no-margin"
    >
      <ion-avatar>
        <ion-icon name="location" class="location-icon"></ion-icon>
      </ion-avatar>
      <ion-label class="ion-text">
        <p class="ion-text">{{address.description}}</p>
        <p class="secondary-text ion-text-wrap">
          {{address.structured_formatting.secondary_text}}
        </p>
      </ion-label>
      <ion-spinner *ngIf="loadingIndex === i" slot="end"></ion-spinner>
      <!-- <ion-label class="ion-text">
        <ion-icon name="location" class="location-icon"></ion-icon>{{address.description}}
      </ion-label> -->
    </ion-item>
  </ion-list>
</ion-content>
