/*COLOR Variables*/
$primary-color: #0073f1;
$primary-color-light: #557EAA;
$primary-color-dark: #3F3C8F;
$secondary-color: #40AC47;
$secondary-color-light: #78CE7A;
$secondary-color-dark: #0A6938;
$success-color: #22D62B;
$error-color: #E30613; 
$light-color: #EDEDED;
$light-color2: #A3B9C0;
$white-color: #ffffff;
$black-color: #000000;
$yellow-color: #ffd400;
$primary-gradient-color: linear-gradient(90deg, rgba(0,115,241,1) 50%, rgba(66,24,184,1) 100%);
$secondary-gradient-color: linear-gradient(90deg, rgba(62,171,71,1) 50%, rgba(7,105,56,1) 100%);
$urgent-gradient-color: linear-gradient(90deg, rgba(249,8,8,1) 50%, rgba(207,0,0,1) 100%);

/*Font Variables*/
$primary_font: 'Roboto';
$secondary_font: 'Raleway';

// font-weight
$thin:100;
$light:300;
$regular:400;
$bold:700;
$black:900;

//Shadow
$shadow: 0px 0px 7px rgba(0, 0, 0, 0.75) !important;
$shadow-light: 0px 0px 8px rgba(0, 0, 0, 0.15) !important;


/*DELIVERO UI KIT*/
$uikit-Blue-color: #26bae8;
$uikit-Green-color: #44c065;
$uikit-Yellow-color: #F6C324;
$uikit-Orange-color: #F2994A;
$uikit-Red-color: #EB5757;
$uikit-White-color: #ffffff;
$uikit-Grey-color: #D6D6D6;
$uikit-Black-color: #333333;