<!-- <div class="dlvr-consumer-wrapper">
    <app-cart-header [showProfile]="true" [showBackButton]="true"></app-cart-header>
</div> -->
<app-header [headerTitle]="username" [showBackButton]="true"></app-header>
<div class="progress" *ngIf="loading">
    <div class="indeterminate"></div>
</div>
<!-- <div [hidden]="loading" class="container"> -->
<ion-container>


    <div class="row">
        <div class="col s6 p-0">
            <h5 class="bold text-center market m-t-10">Marketplace</h5>
        </div>
        <div class="col s6 text-right m-t-9">
            <p class="link addressLink m-t-10" (click)="navigateTo('marketplace/userlocation')">
                {{mapService.location_block}}
                - {{mapService.setRadiusInMiles(mapService.radial_distance)}} <i class="material-icons"
                    style="color: #0e50a4;">location_on</i></p>
        </div>
    </div>
    <!-- <table class="picks-div">
        <tbody>
            <tr style="border: unset;">
                <td class="top-heading">Market Place</td>
                <td class="top-location"><a class="link" (click)="navigateTo('marketplace/userlocation')"> {{mapService.location_block}} - {{mapService.setRadiusInMiles(mapService.radial_distance)}}</a> <i class="material-icons">location_on</i></td>

            </tr>
        </tbody>
    </table> -->
    <!-- 
        <div class="col s10 search-input" (keydown)="keyDownFunction($event)">
           
            <input type="text" placeholder="Search Marketplace" name="searchText" [(ngModel)]="filters.search">
        </div> -->
    <div class="row card-search">
        <div class="search-container input-field col s10 p-l-0">
            <form (keydown)="keyDownFunction($event)">
                <input type="text" class="searchbox" placeholder="Search Marketplace" name="searchText"
                    [(ngModel)]="filters.search">
                <i class="fas fa-search"></i>
            </form>
        </div>

        <div class="col s2" [style]="{margin: pref.pref.cartCount ? '-15px 0 0px 0' : 0}">
            <a class="dlvr-hamburger right" (click)="gotoCart()">
                <span class="fa-stack fa-xx">
                    <span class="cart-badge" *ngIf="pref.pref?.cartCount">{{ pref.pref?.cartCount || 0 }}</span>
                    <i class="fa fa-circle fa-stack-2x icon-background"></i>
                    <i class="fa fa-shopping-cart fa-stack-1x color-white"></i>
                </span>
            </a>
        </div>
    </div>

    <!-- <i class="material-icons" style="font-size: 16px;">person</i> -->
    <!-- <i class="fa fa-circle fa-stack-2x icon-background"></i> -->
    <!-- <img [src]="item.image"> -->


    <!-- <div class="row">
        <div class="cat-bottom-border scrollmenu text-center">
            <div class="eachitem chip" (click)="navigateTo('/auth/profile')">
                <span class="fa-stack fa-xx">
                    <i class="fa fa-user fa-stack-1x color-black"></i>
                </span>
            </div>
            <div class="eachitem chip" (click)="navigateTo('chat/list')">
                Chat
            </div>
            <div class="eachitem chip" (click)="navigateTo('marketplace/add_product')">
                Sell
            </div>
            <div class="eachitem chip" *ngFor="let item of categories" (click)="categorySelectRedirect(item)">
                {{item.name}}
            </div>
        </div>
    </div> -->

    <!-- <div class="row">
        <div class="col s6 m6 products-item" *ngFor="let item of products">
            <app-product-item [item]="item" (showDetail)="itemDetailPage(item)" (showEdit)="itemEditPage(item)">
            </app-product-item>
        </div>
    </div> -->
    <!-- <div class="row" *ngFor="let category of categories">
        <app-category-box [category]="category" (openItem)="itemDetailPage($event)"></app-category-box>
    </div> -->

    <div class="row" infinite-scroll [infiniteScrollDistance]=0 [infiniteScrollThrottle]='1000'
        (scrolled)="loadMoreProducts()">
        <div class="col s6 m6 products-item" *ngFor="let item of products">
            <app-product-item [item]="item" (showDetail)="itemDetailPage(item)" (showEdit)="itemEditPage(item)">
            </app-product-item>
        </div>
    </div>
    <div class="more-products-btn">
        <ion-grid>
            <ion-row>
                <ion-col>
                    <ion-button expand="block" fill="clear" (click)="loadMoreProducts()"
                        class="dlvr-uikit-btn dlvr-uikit-btn-orange">Load More</ion-button>
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>
    <!-- <div class="dlvr-login-footer">
        <a class="center" (click)="loadMoreProducts()" class="pointer-cursor dlvr-uikit-btn dlvr-uikit-btn-orange">Load More</a>
    </div> -->

    <div class="spinner">
        <ngx-spinner bdOpacity=0.9 bdColor="#f4f4f9" size="medium" color="#1a6bc3" type="ball-clip-rotate-multiple"
            [fullScreen]="false">
        </ngx-spinner>
    </div>


    <div class="custom-margin-bottom-last">

    </div>

    <div class="fixed-action-btn fab-c-btn">
        <a class="btn-floating btn-large mpYellow " (click)="navigateTo('marketplace/add_product')">
            <i class="large material-icons">add</i>
        </a>
    </div>
</ion-container>
<!-- </div> -->