<ion-content scroll="true">
  <div class="dlvr-login-wrapper ">
    <div class="row">
      <div class="col s12 ">
        <div class="container dlvr-new-progress">
          <div class="row" data-aos="fade-down">
            <div class="col s12">
              <div class="progress">
                <div class="progress-bar" id="truckprogress" style="
                    width: 0%;
                    background: #26bae8;
                    height: 4px;
                    transition: 0.9s;
                  "></div>
              </div>
            </div>
          </div>
        </div>
        <!-- <div class="container"> -->
        <form [formGroup]="signupForm" class="dlvr-signup-form">
          <!--1st-->
          <div class="dlvr-signup-first" *ngIf="step == 'step1'">
            <div class="">
              <div class="col s12">
                <div class="dlvr-bg-img">
                  <img src="assets/images/city_background_img.png" alt="city_background_img" class="responsive-img" />
                  <img src="assets/images/phone_icon.png" alt="phone icon" class="icon" data-aos="zoom-in-up"
                    data-aos-delay="400" />
                </div>
              </div>
              <div class="row" data-aos="fade-left" data-aos-delay="600">
                <div class="col">
                  <h2>Add your mobile number</h2>
                  <div class="dlvr-title-subtext">
                    Easily contact the people you delivery with. Your number
                    stays private. Carrier rates may apply.
                  </div>
                </div>
                <div class="col s5 number-field">
                  <ion-select style="width: 100%; min-width: 40px" class="dlvr-uikit-input dlvr-mobile-country-code"
                    placeholder="IN (+91)" formControlName="countryCode" value="">
                    <ion-select-option *ngFor="let country of country_codes" [value]="country.code">
                      {{country.code + ' (' + country.dial_code +
                      ')'}}</ion-select-option>
                  </ion-select>
                </div>
                <div class="col s7">
                  <div class="dlvr-input-text-options dlvr-input-text-options-1 input-field">
                    <input type="tel" class="dlvr-uikit-input dlvr-uikit-input-grey dlvr-mobile-number" minlength="10"
                      placeholder="Phone number" formControlName="contact" content="contactNumber"
                      (input)="onTelephoneChange($event)" [(ngModel)]="contactNumber" />
                    <img *ngIf="signupForm.get('contact').valid" alt="user_icon" class="prefix"
                      src="assets/images/green_tick_icon.png" alt="green_tick_icon" />
                    <img *ngIf="!signupForm.get('contact').valid && signupForm.get('contact').dirty" alt="user_icon"
                      class="prefix" src="assets/images/wroong.png" alt="green_tick_icon" />
                  </div>
                  <p class="errorMessage" *ngIf="!signupForm.get('contact').valid && signupForm.get('contact').touched">
                    Enter valid contact
                  </p>
                </div>
              </div>
            </div>
            <button class="btn-full-width dlvr-uikit-btn dlvr-uikit-btn-blue m-t-20 verify" type="button"
              (click)="onVerify()" [disabled]="signupForm.get('contact').invalid">
              <ion-spinner [hidden]="!loading" class="spinner-large"></ion-spinner>
              <p [hidden]="loading" style="text-align: center; margin: 0px !important">
                Verify
              </p>
            </button>
          </div>
          <!--New 2nd-->
          <div class="dlvr-signup-varify-otp" *ngIf="step == 'step2'">
            <div class="row">
              <div class="col s12 ">
                <div class="dlvr-bg-img">
                  <img src="assets/images/otp_img.png" alt="otp icon" class="icon" data-aos="zoom-in-up"
                    data-aos-delay="400" />
                  <img src="assets/images/city_background_img.png" alt="city_background_img" class="responsive-img" />
                </div>
              </div>
            </div>
            <div class="row" data-aos="fade-left" data-aos-delay="600">
              <div class="col">
                <h2>What's the code?</h2>
                <div class="dlvr-title-subtext">
                  Sent to {{signupForm.get('contact').value}}
                </div>
              </div>
            </div>

            <div class="row" data-aos="fade-left" data-aos-delay="600" style="text-align: center">
              <ng-otp-input class="otp-inputs" (onInputChange)="onOtpChange($event)" [config]="config">
              </ng-otp-input>
            </div>
            <div class="row">
              <div class="col s12">
                <div class="dlvr-forgot-password">
                  <a (click)="openModel()">Having Trouble?</a>
                </div>
              </div>
            </div>
            <button class="btn-full-width dlvr-uikit-btn dlvr-uikit-btn-blue m-t-20 verify" type="button"
              (click)="verifyOTP()">
              <ion-spinner [hidden]="!loading" class="spinner-large"></ion-spinner>
              <p [hidden]="loading" style="text-align: center; margin: 0px !important">
                Next
              </p>
            </button>
            <!--[disabled]="userOTP == undefined || userOTP?.length == 0"-->
          </div>
          <!--2nd-->
          <div class="dlvr-signup-second" *ngIf="step == 'step3'">
            <div class="row m-b-20">
              <div class="col s12">
                <div class="dlvr-bg-img">
                  <img src="assets/images/city_background_img.png" alt="city_background_img" class="responsive-img" />
                  <img src="assets/images/user_details_icon.png" alt="user_details_icon" class="icon"
                    data-aos="zoom-in-up" data-aos-delay="400" />
                </div>
              </div>
            </div>
            <div class="row scroll-auto" data-aos="fade-left">
              <div class="col s12">
                <div class="dlvr-input-text-options input-field">
                  <img src="assets/images/user_icon.png" alt="user_icon" class="prefix" />
                  <input type="text" class="dlvr-uikit-input dlvr-uikit-input-grey" placeholder="First Name"
                    formControlName="first_name" />
                </div>
                <p class="errorMessage"
                  *ngIf="!signupForm.get('first_name').valid && signupForm.get('first_name').touched">
                  Please Enter a valid first name.
                </p>
              </div>
              <div class="col s12">
                <div class="dlvr-input-text-options input-field">
                  <img src="assets/images/user_icon.png" alt="user_icon" class="prefix" />
                  <input type="text" class="dlvr-uikit-input dlvr-uikit-input-grey" placeholder="Last Name"
                    formControlName="last_name" />
                </div>
                <p class="errorMessage"
                  *ngIf="!signupForm.get('last_name').valid && signupForm.get('last_name').touched">
                  Please Enter a valid last name.
                </p>
              </div>
              <div class="col s12">
                <div class="dlvr-input-text-options input-field">
                  <img src="assets/images/emil_icon.png" alt="emil_icon" class="prefix" />
                  <input type="text" class="dlvr-uikit-input dlvr-uikit-input-grey" placeholder="Email"
                    formControlName="email" />
                </div>
                <p class="errorMessage" *ngIf="!signupForm.get('email').valid && signupForm.get('email').touched">
                  Enter valid email
                </p>
              </div>
              <div class="col s12">
                <div class="dlvr-input-text-options input-field">
                  <img src="assets/images/password_icon.png" alt="password_icon" class="prefix" />
                  <input type="password" class="dlvr-uikit-input dlvr-uikit-input-grey" placeholder="Password"
                    formControlName="password" />
                </div>
                <p class="errorMessage" *ngIf="!signupForm.get('password').valid && signupForm.get('password').touched">
                  Please Enter a valid password (minimum 5 characters
                  required.).
                </p>
              </div>
            </div>
            <button class="btn-full-width dlvr-uikit-btn dlvr-uikit-btn-blue m-t-20 verify" type="button"
              (click)="goToSignupFourth()" [disabled]="!signupForm.controls['first_name'].valid
            && !signupForm.controls['last_name'].valid
            && !signupForm.controls['email'].valid
            && !signupForm.controls['password'].valid">
              Next
            </button>
          </div>
          <!--3rd-->
          <div class="dlvr-signup-third" *ngIf="step == 'step4'">
            <!-- *ngIf="step == 'step3'"-->
            <div class="row m-b-20">
              <div class="col s12">
                <div class="dlvr-bg-img">
                  <img src="assets/images/city_background_img.png" alt="city_background_img" class="responsive-img" />
                  <img src="assets/images/location_icon.png" alt="location_icon" class="icon" data-aos="zoom-in-up"
                    data-aos-delay="400" />
                </div>
              </div>
            </div>

            <div class="row dlvr-signup-add-wrapper" data-aos="fade-left">
              <div class="col s12">
                <h2>Enter your Address</h2>
                <div class="dlvr-title-subtext">
                  Your details are safe with us.
                </div>
              </div>

              <div class="col s12">
                <div (click)="showAddressModal()" class="dlvr-input-text-options input-field">
                  <img src="assets/images/location_icon_grey.png" alt="location_icon_grey" class="prefix" />
                  <input type="text" class="dlvr-uikit-input dlvr-uikit-input-grey" placeholder="Set Your Location"
                    formControlName="street" />
                </div>
              </div>
            </div>
            <button class="btn-full-width dlvr-uikit-btn dlvr-uikit-btn-blue m-t-20 verify" type="button"
              (click)="signupUser()">
              <ion-spinner [hidden]="!loading" class="spinner-large"></ion-spinner>
              <p [hidden]="loading" style="text-align: center; margin: 0px !important">
                Sign up
              </p>
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</ion-content>