.no-scroll {
  --overflow: hidden;
}

.main {
  text-align: center;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-45%, -50%);
}
.splash-logo {
  width: 150px;
}
.main h2 {
  font-size: 30px;
  font-weight: 700;
}
.main p {
  font-size: 10px;
  font-weight: 600;
  color: black;
}

.dlvr-uss-img-wrapper {
  width: 100%;
  // min-width: 260px;
  max-width: 250px;
  margin: 0 auto;
}

@media (max-width: 320px) {
  .dlvr-uss-img-wrapper {
    width: 100%;
    // min-width: 180px;
    max-width: 180px;
  }
}
@media (max-height: 800px) {
  .dlvr-uss-img-wrapper {
    width: 100%;
    // min-width: 200px;
    max-width: 200px;
  }
}
@media (max-width: 360px) {
  .dlvr-uss-img-wrapper {
    width: 100%;
    // min-width: 220px;
    max-width: 200px;
  }
}
@media (max-width: 320px) {
  .dlvr-uss-img-wrapper {
    min-width: 180px;
    max-width: 180px;
  }
}
