<app-header [headerTitle]="'Contact'"></app-header>
<div class="dlvr-contact-screen-wrapper">
    <div class="container" data-aos="fade-up">
        <div class="row">
            <div class="col s12 l6">
                <div class="card dlvr-card dlvr-supprt-card m-0 m-b-10">
                    <div class="row">
                        <div class="col s12">
                            <i class="material-icons-outlined">headset_mic</i> 
                            <h2>Customer Support</h2>
                            <p>Need Help with your delivery?</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col s12 l6"> 
                <div class="card dlvr-card dlvr-supprt-card m-0 m-b-10">
                    <div class="row">
                        <div class="col s12">
                            <i class="material-icons-outlined">drive_eta</i> 
                            <h2>Driver Support</h2>
                            <p>Need help regarding your Driver?</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col s12 l4">
                <div class="card dlvr-card dlvr-supprt-card m-0 m-b-10">
                    <div class="row">
                        <div class="col s12">
                            <i class="material-icons-outlined">location_on</i> 
                            <h2>Corporate Address</h2>
                            <p class="m-b-10">93 Summer Street<br>
                                San Carlos, CA 94070</p>
                        </div>
                    </div>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1854.5538103101792!2d-121.49528289829183!3d38.58041805049107!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x808fb9fe5f285e3d%3A0x8b5109a227086f55!2sCalifornia%2C%20USA!5e0!3m2!1sen!2sin!4v1584624887838!5m2!1sen!2sin" width="100%" height="230" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                </div>
            </div>
            <div class="col s12 l4">
                <div class="card dlvr-card dlvr-supprt-card m-0 m-b-10">
                    <div class="row">
                        <div class="col s12">
                            <i class="material-icons-outlined">location_on</i> 
                            <h2>Corporate Address</h2>
                            <p class="m-b-10">93 Summer Street<br>
                                San Carlos, CA 94070</p>
                        </div>
                    </div> 
                </div>
            </div> 
        </div>
    </div>
</div> 