<div id="modal2" class="modal dlvr-payment-success-modal">
  <div class="modal-content">
      <div class="center" data-aos="zoom-in">
          <i class="material-icons-outlined dlvr-warning">info</i>
      </div>
      <h3>Did you get your package delivered?</h3>
      <div class="row">
          Ask driver to enter this {{jobs.security_code}} security code in the screen.
          <!-- <div class="col s6">
            <button class="btn-full-width dlvr-uikit-btn-small dlvr-uikit-btn dlvr-uikit-btn-green m-t-10 m-r-5"
            (click)="packageStatusUpdate('Delivered', 'modal2')" type="button">Yes</button>
        </div>
        <div class="col s6">
            <button class="btn-full-width dlvr-uikit-btn-small dlvr-uikit-btn dlvr-uikit-btn-red m-t-10"
            (click)="closeModal('modal2')" type="button">No</button>
        </div>  -->
      </div>
  </div>
</div>
