@import "../../../theme/variables.scss";
@import "../../../assets/scss/custom-variables.scss";
@import "../../../assets/scss/dlvr-ui-kit.scss";
@import "../../../../node_modules/materialize-css/dist/css/materialize.css";
// .dlvr-profile-wrapper{
//     margin-bottom: 80px;

// }

.setting-header {
    background-color: #58909e;
    color: #fff;
    width: 100%;
    height: 56px;
    text-align: center;
}

.setting-header h4 {
    font-size: 22px;
    margin: 14px;
}

.dlvr-profile-img-wrapper {
    text-align: center;
    position: relative;
}
.dlvr-profile-img-wrapper .card.dlvr-card {
    max-width: 150px;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 30px;
}
.dlvr-profile-img-wrapper img {
    // max-width: 150px;
    max-width: 100%;
    // margin-bottom: 16px;
}
.dlvr-profile-img-wrapper i {
    background-color: #fff;
    border-radius: 50px;
    box-shadow: 0 0 5px #333;
    position: absolute;
    bottom: 34px;
    right: 15px;
    z-index: 75;
    cursor: pointer;
    width: 35px;
    height: 26px;
    font-size: 18px;
    padding-top: 8px;
    color: rgb(54 97 108);
}
@media (min-width: 1024px) {
    .container {
        max-width: 46%;
    }
}
.dlvr-radio {
    margin: 8px 10px 0px 5px;
    min-width: 100px;
    background-color: #fff;
    position: relative;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    vertical-align: middle;
    z-index: 1;
    -webkit-transition: 0.3s ease-out;
    transition: 0.3s ease-out;
    border-radius: 10px;
    padding: 8px 0px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}
.dlvr-uikit-list ul li p {
    padding: 12px 22px;
}
.dlvr-uikit-list-media ul li p img {
    max-width: 30px;
    margin-right: 8px;
}

.dlvr-add-photo-wrapper {
    padding: 0 30px;
}
.dlvr-add-photo-wrapper .img-wrapper {
    margin: 10px auto 0;
    text-align: center;
}
.dlvr-add-photo-wrapper .img-wrapper .icon-img {
    max-width: 80px;
}
.dlvr-add-photo-wrapper .title {
    font-size: 24px;
    margin-bottom: 10px;
    margin-top: 16px;
}
.dlvr-title-subtext {
    color: #777;
}
.dlvr-modal .modal.bottom-sheet {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
.dlvr-having-trouble-popup .modal.bottom-sheet {
    max-height: 65%;
    min-height: 245px;
}
.dlvr-having-trouble-popup .modal .modal-footer {
    padding: 0;
}
.dlvr-hving-trouble-popup-list {
    text-align: center;
    margin: 0;
}
.dlvr-hving-trouble-popup-list li {
    margin: 0;
    border-bottom: 1px solid #d2d2d2;
    padding: 15px 0;
}
.dlvr-hving-trouble-popup-list li.first {
    margin: 0;
    padding: 8px 0;
    font-weight: 700;
    font-size: 17px;
    background-color: #e5f3f1;
}
.dlvr-hving-trouble-popup-list li:last-child {
    border: none;
}
.dlvr-hving-trouble-popup-list li a {
    padding: 6px 12px;
    font-size: 16px;
    color: #414141;
}
.dlvr-hving-trouble-popup-list li .endLine {
    width: 100px;
    height: 5px;
    border-radius: 60px;
    background-color: #bdbdbd;
    margin: 0 auto;
}
@media (max-width: 600px) {
    .dlvr-uikit-btn.verify {
        position: fixed;
        left: 50%;
        bottom: 20px;
        width: 90% !important;
        transform: translate(-50%, 0);
    }
}

.consumer-bg {
    background-color: $uikit-Blue-color;
}
.rating {
    position: absolute;
    left: 21px;
    bottom: 7px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 12px;
    font-size: 14px;
    font-weight: 500;
    padding: 0px !important;
}
// .image-container {
//     margin-bottom: 80px;
// }

.info-container {
    position: relative;
    bottom: 38px;
    color: #3c3c3c;
}
.info-container b {
    font-size: 18px;
    font-weight: 700;
    color: rgb(60 60 60);
}
.info-sec-details {
    font-size: 16px !important;
    font-weight: 600 !important;
    position: absolute;
    margin-top: 3px;
}

.arrow {
    float: right;
    font-size: 28px;
    color: #bdbdbd;
    height: 100%;
    display: flex;
    align-items: center;
}
