.modal-content {
    width: 90%;
    margin: 195px auto;
    background: #fff;
    padding: 0px auto;
    border-radius: 5px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.modal-title {
    font-size: 21px;
    font-weight: 700;
    margin: 0px 12px 0px 2.46rem;
    color: rgb(70, 70, 70);
    display: flex;
    justify-content: space-between;
}

.cancel-btn {
    font-size: 25px;
}
.details-title {
    font-size: 12px;
    font-weight: 500;
    color: rgb(70 70 70);
}
.text {
    color: rgb(60 60 60);
    font-size: 15px;
    margin-top: -3%;
    font-weight: 600;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 295px;
}
.collection {
    margin-top: -3px;
}
