<div class="modal-content">
  <h3 class="modal-title">
    Order details
    <i class="material-icons-outlined right cancel-btn" (click)="closeDetail()">cancel</i>
  </h3>
  <div class="dlvr-order-confirmed-block">
    <ul class="collection left-align">
      <li class="collection-item avatar">

        <p class="details-title">Pickup Address</p>
        <p class="text">{{track?.sourceAddress}}</p>
        <p class="details-title">Delivery Address</p>
        <p class="text">{{track?.deliveryAddress}}</p>
        <p class="details-title">Package Catageory</p>
        <p class="text">{{track?.itemCategory}}</p>
        <p class="details-title">Vehical Type</p>
        <p class="text">{{track?.package_size}}</p>
        <p class="details-title">Deilvery Type</p>
        <p class="text">{{ track?.priority}} - {{track?.expected_delivery_time ?
          expected_delivery_time : "N/A" }}</p>
        <p class="details-title">Instruction</p>
        <p class="text">"{{track?.instructionForReceiver ? instructionForReceiver : "No Current Instruction" }}"</p>
        <p class="details-title">Delivery Amount</p>
        <p class="text">$ {{track?.jobAmount}}</p>
      </li>
    </ul>
  </div>
</div>