ion-content {
    --ion-content-background: transparent !important;
    box-shadow: none !important;
}
// .instruction-modal {
//     height: 100vh;
//     background: transparent !important;
//     // z-index: 1;
// }
.white {
    background-color: rgb(12 11 11 / 0) !important;
}
.modal-content {
    width: 90%;
    margin: 175px auto;
    height: 500px;
}

.modal-title {
    font-size: 21px;
    font-weight: 700;
    line-height: 110%;
    margin: 1.46rem 12px 1.168rem 2.46rem;
}
.details-title {
    font-size: 12px;
    font-weight: 500;
    padding-top: 10px;
}
.cancel-btn {
    font-size: 25px;
}
.text-box {
    width: 81%;
    margin: 0 auto;
}
.line {
    padding-top: 10px !important;
    border-top: 1px solid #e6e6e6 !important;
}
