<!-- Modal -->


<ion-content class="ion-text-center">
    <!-- <ion-fab horizontal="end" vertical="bottom" slot="fixed">
      <ion-fab-button>
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
      <ion-fab-list>
        <ion-fab-button (click)="openFile()" color="light">
          <ion-icon name="image"></ion-icon>
        </ion-fab-button>
        <ion-fab-button (click)="openFile()" color="light">
          <ion-icon name="image"></ion-icon>
        </ion-fab-button>
        <ion-fab-button (click)="AddPicture()" color="light">
          <ion-icon name="camera"></ion-icon>
        </ion-fab-button>
        <ion-fab-button (click)="removePhoto()" color="light">
          <ion-icon name="trash-outline"></ion-icon>
        </ion-fab-button>
      </ion-fab-list>
    </ion-fab> -->
  <ion-list>
    <ion-item class="ion-no-margin ion-no-padding">Number : </ion-item>
    <ion-item class="ion-no-margin ion-no-padding"> Send A New Code</ion-item>
    <ion-item class="ion-no-margin ion-no-padding">Use Different Number</ion-item>
    <ion-item class="ion-no-margin ion-no-padding" (click)="dismissModal()">Close</ion-item>
  </ion-list>
</ion-content>