<div id="help" class="white">
  <div class="modal-content">
    <h3 class="modal-title">
      Help
      <i class="material-icons-outlined right cancel-btn" (click)="closeHelp()">cancel</i>
    </h3>
    <div class="dlvr-order-confirmed-block text-box">
      <div class="line">
        <p class="title">User not responding</p>

        <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum, similique
          atque! Odio temporibus sapiente optio? Ducimus iste omnis consectetur voluptates vero, sint
          corrupti culpa dignissimos eius deserunt laborum explicabo inventore?</p>
      </div>
      <div class="line">
        <p class="title">Met with accident</p>
        <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt animi
          eligendi, quis et quisquam voluptatem, quos fuga officiis saepe, voluptas sit tempore
          dolorem! Quam debitis incidunt minus, suscipit cum nostrum.</p>
      </div>
      <!-- <ul class="collection left-align">
        <li class="collection-item avatar line">
          <p class="title">User not responding</p>
          <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum, similique
            atque! Odio temporibus sapiente optio? Ducimus iste omnis consectetur voluptates vero, sint
            corrupti culpa dignissimos eius deserunt laborum explicabo inventore?</p>
        </li>
        <li class="collection-item avatar line">
          <p class="title">Met with accident</p>
          <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt animi
            eligendi, quis et quisquam voluptatem, quos fuga officiis saepe, voluptas sit tempore
            dolorem! Quam debitis incidunt minus, suscipit cum nostrum.</p>
        </li>
      </ul> -->
    </div>
  </div>
</div>