.modal-content {
    width: 90%;
    margin: 210px auto;
    background: #fff;
    padding: 0px auto;
    border-radius: 5px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.modal-title {
    font-size: 21px;
    font-weight: 700;
    margin: 0px 12px 0px 2.46rem;
    color: rgb(70, 70, 70);
    display: flex;
    justify-content: space-between;
}

.cancel-btn {
    font-size: 25px;
}
.text-box {
    width: 81%;
    margin: 0 auto;
}
.line {
    margin: 16px auto;
    border-top: 1px solid #e6e6e6 !important;
}
.line p {
    margin: 8px auto !important;
}
.title {
    font-size: 16px;
    margin-bottom: 8px;
    color: #42598e;
    font-weight: 500;
}
.text-box {
    color: rgb(79 79 79);
}
li {
    text-decoration: none;
}
.text {
    font-size: 13px;
    font-weight: 500;
}
