// ion-header {
//     --background: #58909e;
//     color: #fff;
//     width: 100%;
//     height: 56px;
//     text-align: center;
// }

ion-header {
    ion-toolbar {
        // set background color
        --background: #58909e;
        // set icon/text color
        color: #fff;
        width: 100%;
        height: 56px;
        padding-top: 4px;
        text-align: center;

        ion-title {
            font-size: 18px;
        }
    }
}
