<ion-content>
  <div class="header">
    <div class="row header-line">
      <!-- <div class="col s5 p-r-0">
      <ion-icon size="small" style="
                    left: 5px;
                    top: 20px;
                    line-height: 0;
                    height: 28px !important;
                    color: #58909e;
                    width: 25px !important;" name="chevron-back-outline" (click)="goBack()" *ngIf="showBackButton">
                    </ion-icon>
                  </div> -->
      <div class="col s5 p-r-0 name-line">
        <div class="name">
          <p class="title">{{track?.poster_name}}</p>
          <a (click)="openDetail()">Order Details</a>
        </div>
      </div>
      <div class="col s7 p-r-5">
        <div class="dlvr-contact-costomer-btn-wrapper">
          <a class="call" href="tel:34597564315315">
            <i class="material-icons">local_phone</i>
          </a>
          <a class="chat" (click)="openOtpModal()">
            <i class="material-icons">message</i>
          </a>
          <!-- <a class="help" (click)="openHelp()">
            <i class="material-icons">help_outline</i>
          </a> -->
          <!-- <a class="help" (click)="mockLocations()">
            <i class="material-icons">restart_alt</i>
          </a> -->
          <a class="help" (click)="setMapCoordinatesAndGetReady()">
            <i class="material-icons">my_location</i>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="map-header">
    <div class="dlvr-order-confirmed-block header-wrapper">
      <ul class="collection left-align">
        <li class="collection-item avatar">
          <div class="circle">
            <img src="assets/images/detail-pickup-add.png" alt="user">
          </div>
          <div class="pickup-address-line">
            <p class="title" style="font-size: 11px !important;"> {{ returnDeliveryAddressType(track?.status) }}
            </p>
            <a class="text"> {{ returnDeliveryAddress(track?.status) }}
            </a>
            <!-- <p class="title f-s-5" *ngIf="track?.status == 'start_journey_to_destination'    "
              style="font-size: 11px !important;">Delivery Address</p>
            <a class="text" *ngIf="track?.status == 'start_journey_to_destination'">{{track?.deliveryAddress}}</a> -->
          </div>
        </li>
      </ul>
    </div>

    <app-track-map class="app-track-map-component" [data]="progressLocations" (output)="mapOutput($event)">
    </app-track-map>


  </div>

  <div class="dlvr-get-started-btn" (click)=statusDrivingChange()>
    {{ returnButtonText(track?.status) }}
    <i class="fa fa-angle-right"></i>
    <i class="fa fa-angle-right" style="margin-left:-2px"></i>
    <i class="fa fa-angle-right" style="margin-left:-2px"></i>
  </div>

</ion-content>