// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  /*COLOR Variables*/
  $primary-color: #0073f1;
  $primary-color-light: #557eaa;
  $primary-color-dark: #3f3c8f;
  $secondary-color: #40ac47;
  $secondary-color-light: #78ce7a;
  $secondary-color-dark: #0a6938;
  $success-color: #22d62b;
  $error-color: #e30613;
  $light-color: #ededed;
  $light-color2: #a3b9c0;
  $white-color: #ffffff;
  $black-color: #000000;
  $yellow-color: #ffd400;
  $primary-gradient-color: linear-gradient(
    90deg,
    rgba(0, 115, 241, 1) 50%,
    rgba(66, 24, 184, 1) 100%
  );
  $secondary-gradient-color: linear-gradient(
    90deg,
    rgba(62, 171, 71, 1) 50%,
    rgba(7, 105, 56, 1) 100%
  );
  $urgent-gradient-color: linear-gradient(
    90deg,
    rgba(249, 8, 8, 1) 50%,
    rgba(207, 0, 0, 1) 100%
  );

  /*Font Variables*/
  $primary_font: "Roboto";
  $secondary_font: "Raleway";

  // font-weight
  $thin: 100;
  $light: 300;
  $regular: 400;
  $bold: 700;
  $black: 900;

  //Shadow
  $shadow: 0px 0px 7px rgba(0, 0, 0, 0.75) !important;
  $shadow-light: 0px 0px 8px rgba(0, 0, 0, 0.15) !important;

  --ion-color-transparent: rgba(0, 0, 0, 0);

  // light gray

  --ion-color-lightgrey: #4797ab;
  --ion-color-lightgrey-rgb: 71, 151, 171;
  --ion-color-lightgrey-contrast: #000000;
  --ion-color-lightgrey-contrast-rgb: 0, 0, 0;
  --ion-color-lightgrey-shade: #3e8596;
  --ion-color-lightgrey-tint: #59a1b3;

  // --ion-color-pup: #4797ab;
  // --ion-background-color: #d4e1e4;
  // --ion-text-color: #4797ab;
  // --ion-toolbar-background: #d4e1e4;
  // --ion-toolbar-color: #4797ab;
  // // $bluegrey: #4797ab;
  // $lightgrey: #d4e1e4;

  /*DELIVERO UI KIT*/
  $uikit-Blue-color: #26bae8;
  $uikit-Green-color: #44c065;
  $uikit-Yellow-color: #f6c324;
  $uikit-Orange-color: #f2994a;
  $uikit-Red-color: #eb5757;
  $uikit-White-color: #ffffff;
  $uikit-Grey-color: #d6d6d6;
  $uikit-Black-color: #333333;
  /** primary **/
  --ion-color-primary: #26bae8;
  --ion-color-primary-rgb: 38, 186, 232;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #21a4cc;
  --ion-color-primary-tint: #3cc1ea;

  /** secondary **/
  --ion-color-secondary: #3dc2ff;
  --ion-color-secondary-rgb: 61, 194, 255;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #36abe0;
  --ion-color-secondary-tint: #50c8ff;

  /** tertiary **/
  --ion-color-tertiary: #5260ff;
  --ion-color-tertiary-rgb: 82, 96, 255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #4854e0;
  --ion-color-tertiary-tint: #6370ff;

  /** success **/
  --ion-color-success: #44c065;
  --ion-color-success-rgb: 68, 192, 101;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #3ca959;
  --ion-color-success-tint: #57c674;

  /** warning **/
  --ion-color-warning: #ffc409;
  --ion-color-warning-rgb: 255, 196, 9;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #e0ac08;
  --ion-color-warning-tint: #ffca22;

  /** danger **/
  --ion-color-danger: #eb445a;
  --ion-color-danger-rgb: 235, 68, 90;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #cf3c4f;
  --ion-color-danger-tint: #ed576b;

  /** dark **/
  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 36, 40;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  /** medium **/
  --ion-color-medium: #92949c;
  --ion-color-medium-rgb: 146, 148, 156;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #808289;
  --ion-color-medium-tint: #9d9fa6;

  /** light **/
  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 245, 248;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;
}
body {
  margin-top: constant(safe-area-inset-top);
  margin-top: env(safe-area-inset-top);
}
