@import "../../../../node_modules/materialize-css/dist/css/materialize.css";
.dlvr-policy-screen-wrapper {
    margin-bottom: 60px;
    overflow-y: auto;
    overflow-x: hidden;
}
.bg-lightBlue {
    background-color: #eaf0f2;
    height: 80px !important;
    color: grey;
    margin: 0px;
    padding: 5px 6px;
}
.bg-lightBlue p {
    font-size: 14px;
    color: rgb(54 100 112);
}
.paypal-logo {
    width: 55px;
    float: right;
}
.paypal-txt {
    font-size: 17px;
    font-weight: 600;
    color: rgb(60 60 60);
}
.paypal-row {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #eef3f4;
    height: 55px;
}
ion-icon {
    font-size: 18px;
    float: right;
    color: grey;
}
