@import "../../../../../node_modules/materialize-css/dist/css/materialize.css";
@import "../../../../theme/variables.scss";
@import "../../../../assets/scss/custom-variables.scss";
@import "../../../../assets/scss/dlvr-ui-kit.scss";
.dlvr-order-summary {
    background: #4476d3; /* Old browsers */
    background: -moz-linear-gradient(top, #4476d3 0%, #589bde 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #4476d3 0%, #589bde 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(
        to bottom,
        #4476d3 0%,
        #589bde 100%
    ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4476d3', endColorstr='#589bde',GradientType=0 ); /* IE6-9 */
    padding-bottom: 16px;
    height: 130vh;
    z-index: 9999999;
}
.dlvr-input-container {
    padding: 10px 14px 8px 34px;
    width: 100%;
    background-color: black;
    background: rgb(34 34 34 / 40%);
    border-radius: 5px;
    margin: 6px auto;
}
.dlvr-input-container input {
    color: #a0b1b2;
    border-bottom-color: #a0b1b2;
    font-weight: 600;
    margin-bottom: 0;
    height: 30px;
}
.dlvr-input-container.delivery::before {
    content: "";
    position: absolute;
    // background-image: url(../../../../assets/images/address_pin_small.png);
    background-size: contain;
    width: 13px;
    height: 149px;
    left: 13px;
    top: -54px;
    background-repeat: no-repeat;
    margin-bottom: 12px;
}
.dlvr-input-container input::placeholder,
.dlvr-input-container small {
    color: #fff;
    font-size: 13px;
}
.dlvr-input-container p.pickup-address,
.dlvr-input-container p.delivery-address {
    font-size: 14px;
    color: #26bae8;
    margin: 0;
    font-weight: 400;
}
.dlvr-input-container p.delivery-address {
    color: #224ca3;
}
.dlvr-os-list {
    margin-top: 16px;
}
.dlvr-os-list .title,
.dlvr-os-list .content {
    color: rgb(255 255 255 / 71%);
    font-size: 13px;
    margin: 6px;
    font-family: system-ui;
}
.dlvr-os-list .content {
    color: #fff;
    font-weight: 600;
    width: 165px;
}
.dlvr-having-trouble-popup .modal.bottom-sheet {
    max-height: 65%;
    min-height: 245px;
}
.dlvr-having-trouble-popup .modal .modal-footer {
    padding: 0;
}
.dlvr-order-confirmed-block {
    margin: 29% 0 0px 0 !important;
    background-color: #fff;
    overflow: hidden;
    border-top-right-radius: 24px;
    border-top-left-radius: 24px;
    padding: 24px 0 0;
    text-align: center;
    position: absolute;
    bottom: -5px !important;
    box-shadow: 0px -4px 8px rgb(0 0 0 / 20%);
    color: black;
}
.dlvr-order-confirmed-block img {
    max-width: 100%;
}
.dlvr-order-confirmed-block h3,
.dlvr-order-confirmed-block i {
    color: #0b9612;
}
.dlvr-order-confirmed-block i {
    // margin-top: 24px;
    font-size: 46px;
}

.dlvr-order-confirmed-block .content {
    margin-top: 8px;
    font-weight: 600;
    color: #313131;
}
.top-ball {
    position: absolute;
    background: #32a7e9;
    width: 10px;
    height: 10px;
    top: 5%;
    left: 4%;
    border-radius: 50%;
}

.bottom-ball {
    position: absolute;
    top: 30%;
    left: 4%;
    z-index: unset;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #32a7e9;
}

.vertical-line {
    width: 0px;
    height: 54px;
    z-index: unset;
    position: absolute;
    top: 9%;
    left: 5.2%;
    border: 0.4px dashed #32a7e9;
}
.text-wrap-dot {
    font-size: 13px;
    width: 285px;
    overflow: hidden;
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-top: 4px;
}
.dlvr-postJob-step1 {
    width: 90%;
    margin: 34px auto;
    position: relative;
}
.order-header {
    width: 90%;
    background-color: #4679d4;
    height: 56px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}
.icons {
    width: 18%;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
}
@media (max-width: 375px) {
    .dlvr-order-confirmed-block {
        bottom: -48px;
    }
}

.dlvr-progress-track {
    width: 70%;
}
.dlvr-trackPackage-map-wrapper {
    margin-top: 44px;
    overflow: hidden;
}
.dlvr-trackPackage-content i {
    font-size: 14px;
    color: $uikit-Blue-color;
    vertical-align: middle;
}
.dlvr-trackPackage-content p {
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    letter-spacing: 0.4px;
    color: #4a4a4a;
    vertical-align: middle;
}
.dlvr-trackPackage-map-wrapper .dlvr-map {
    z-index: 0;
    position: absolute;
    width: 100%;
    height: 75%;
    top: 0px;
    left: 0px;
    border: none;
    padding: 56px 0 0;
}
.dlvr-trackPackage-map-wrapper iframe {
    width: 100%;
}
.dlvr-trackPackage-controlBtn-wrapper {
    text-align: center;
    position: absolute;
    width: 100%;
    bottom: 70px;
    left: 0;
}
.dlvr-trackPackage-controlBtn-wrapper .dlvr-uikit-btn {
    padding: 16px 26px;
}
.dlvr-trackPackage-controlBtn-wrapper .dlvr-uikit-btn-blue.dlvr-uikit-btn-bordered {
    padding: 14px 26px;
}
.dlvr-trackPackage-controlBtn-wrapper .card.dlvr-card i {
    //    font-size: 34px;
    color: $light-color2;
}
.dlvr-trackPackage-controlBtn-wrapper p {
    margin: 0;
    text-transform: uppercase;
    color: $light-color2;
}
.dlvr-trackPackage-controlBtn-wrapper i {
    color: $light-color2;
}
.dlvr-trackPackage-screen-wrapper {
    background: #4476d3; /* Old browsers */
    background: -moz-linear-gradient(top, #4476d3 0%, #589bde 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #4476d3 0%, #589bde 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(
        to bottom,
        #4476d3 0%,
        #589bde 100%
    ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4476d3', endColorstr='#589bde',GradientType=0 ); /* IE6-9 */
    padding-bottom: 16px;
    height: 100vh;
    z-index: -1;
}
.dlvr-order-confirmed-block {
    width: 100%;
}
.dlvr-os-list {
    margin-top: 16px;
}
.dlvr-os-list .title,
.dlvr-os-list .content {
    color: rgba(255, 255, 255, 0.5);
    font-size: 13px;
    margin: 0;
}
.dlvr-os-list .content {
    color: #fff;
    font-weight: 600;
}
.dlvr-having-trouble-popup .modal.bottom-sheet {
    max-height: 65%;
    min-height: 245px;
}
.dlvr-having-trouble-popup .modal .modal-footer {
    padding: 0;
}
.dlvr-order-confirmed-block {
    background-color: #fff;
    overflow: hidden;
    border-top-right-radius: 24px;
    border-top-left-radius: 24px;
    margin-top: 20px;
    padding: 17px 0 0;
    text-align: center;
    position: absolute;
    bottom: -6px;
    box-shadow: 0px -4px 8px rgba(0, 0, 0, 0.2);
}
.dlvr-order-confirmed-block h3,
.dlvr-order-confirmed-block i {
    color: #0b9612;
}

.dlvr-order-confirmed-block .content {
    margin-top: 8px;
    font-weight: 600;
    color: #313131;
}
.dlvr-order-confirmed-block .collection {
    margin-top: 0;
    margin-bottom: 0;
    border: 0;
}
.dlvr-order-confirmed-block .collection .collection-item.avatar {
    padding-left: 98px;
    border: none;
}
.dlvr-order-confirmed-block .collection .collection-item p i {
    font-size: 17px;
}
.dlvr-order-confirmed-block .collection .collection-item p b {
    vertical-align: middle;
}
.dlvr-order-confirmed-block .secondary-content {
    top: -32px;
    position: absolute;
    right: 12px;
}
.dlvr-order-confirmed-block .secondary-content i {
    font-size: 60px;
    color: #e26d0e;
    margin-top: 22px;
}
.dlvr-order-confirmed-block .collection .collection-item.avatar:not(.circle-clipper) > .circle {
    width: 62px;
    height: 62px;
    left: 22px;
    border-radius: 20px;
    overflow: hidden;
}
.dlvr-order-confirmed-block .collection .collection-item.avatar:not(.circle-clipper) > .circle img {
    width: 100%;
    background-size: cover;
}
.dlvr-btn {
    border-radius: 50px !important;
    width: 100%;
    background-color: transparent;
    border-width: 2px;
}
.dlvr-btn i {
    vertical-align: middle;
    font-size: 18px;
}
.dlvr-btn.green-btn {
    border: 2px solid #0b9612;
    padding: 10px 50px;
    width: 100%;
    color: #0b9612;
}
.dlvr-btn.green-btn i {
    color: #0b9612;
}
.dlvr-btn.blue-btn {
    border: 2px solid #4476d3;
    padding: 10px 50px;
    width: 100%;
    color: #4476d3;
}
.dlvr-btn.blue-btn i {
    color: #4476d3;
}
.dlvr-otp {
    text-align: center;
    margin-bottom: 18%;
    font-weight: 500;
    color: rgb(45 45 45);
}
.dlvr-otp .otp {
    background-color: #f3ec7e;
    padding: 8px 24px;
    border-radius: 50px;
    font-size: 18px;
    font-weight: 700;
    color: #000;
}
.dlvr-new-progress .progress {
    height: 10px;
    max-width: 100%;
}
.dlvr-new-progress .progress .progress-bar:after {
    top: -20px;
    right: 0px;
    background-size: 36px;
    width: 40px;
    height: 30px;
}
.dlvr-progressBar {
    margin-top: 15px;
    margin-bottom: 15px;
}
.dlvr-progress-track {
    display: none;
}
.dlvr-progress-step:before {
    content: "\f00c";
    width: 15px;
    height: 15px;
    border: 3px solid #a5aeb5;
    background-color: #a5aeb5;
    margin-bottom: 5px;
    font-size: 7px;
}
.dlvr-progress-step.is-complete:before {
    background-color: #0b9612;
    border-color: #0b9612;
}
.dlvr-progress-step.is-complete:after {
    background: none;
}
.overflow-y {
    overflow-y: auto;
}

.absolute {
    position: relative;
    top: 480px;
    right: 10px;
}

@media (max-width: 375px) {
    .dlvr-order-confirmed-block {
        bottom: -48px;
    }
}
@media (min-width: 1025px) {
}

.map-wrapper {
    background-image: url(/src/assets/images/map.jpg);
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    opacity: 0.2;
}
.title {
    font-size: 18px !important;
    font-weight: 800 !important;
    padding-top: 8px;
}
.rating {
    display: flex;
    align-items: center;
    width: 38px;
    justify-content: space-between;

    b {
        font-size: 12px !important;
        font-weight: 900;
    }
}
.btn-section {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin-top: 5%;
    margin-bottom: 4%;
    div {
        width: 50%;
        flex-wrap: wrap;
    }
}

.shape {
    width: 0px;
    height: 60 px;
    border-left: 25px solid #e26d0e;
    border-right: 26px solid #e26d0e;
    border-bottom: 16px solid transparent;
    font-size: 13px;
    font-weight: 700;
    position: absolute;
    right: 26px;
    top: 0;
    height: 65px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    padding-top: 7px;

    div {
        display: flex;
    }
}

.order-track-footer {
    width: 100%;
    .track-vehicle {
        display: flex;
        justify-content: space-around;
        div {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            .text {
                color: rgb(111 122 131);
                bottom: 16%;
                position: absolute;
                font-size: 10px;
                font-weight: 800;
            }
            .upper-ball {
                position: absolute !important;
                background: rgb(165 174 181);
                width: 11px;
                height: 11px;
                /* top: 82%; */
                /* left: 4%; */
                border-radius: 50%;
                bottom: 12% !important ;
            }
            .stright-line {
                width: 0px;
                height: 30px;
                z-index: unset;
                position: absolute;
                /* top: 9%; */
                border: 0.4px dashed rgb(165 174 181);
                bottom: 4% !important;
            }
        }
    }
    .truck-img {
        width: 38px;
        z-index: 1 !important;
        margin-bottom: 20px;
        float: left;
    }
    .truck-footer {
        width: 100%;
        background-color: rgb(165 174 181);
        height: 15px;
        position: fixed;
        bottom: 0px;
    }
}
.grey-line {
    height: 10px;
    max-width: 100%;
    bottom: -15px;
}
.blue-line {
    height: 10px !important;
}
.app-track-map-component {
    z-index: unset !important;
}
.heading {
    width: 60%;
    font-size: 18px;
    font-weight: 500;
    display: flex;
    align-items: center;
}
.back-icon {
    font-size: 22px;
    padding-right: 10px;
}
