<div class="dlvr-order-summary">

  <div>
    <div class="order-header">
      <h5 class="heading">
        <ion-icon name="chevron-back-outline" class="back-icon" (click)="goBack()"></ion-icon>
        Order Tracking
      </h5>
      <div class="icons">
        <ion-icon name="settings" (click)="goToSetting()"></ion-icon>
        <ion-icon name="home" (click)="goToHome()"></ion-icon>
      </div>
    </div>
  </div>

  <!-- <img src="../../../../assets/images/map.jpg" class="map-wrapper"> -->
  <app-track-map style="height: 200px;" class="app-track-map-component" [data]="progressLocations">
  </app-track-map>


  <div class="row">
    <div class="col s12 no-padding">
      <div class="dlvr-order-confirmed-block" data-aos="fade-up">
        <ul class="collection left-align">
          <li *ngIf="driverInfo" class="collection-item avatar">
            <div (click)="viewDriverDetail()" class="circle">
              <img
                [src]="jobs?.reciver_profile_pic ? jobs?.reciver_profile_pic : '../../../../assets/images/user_icon.png'" />

            </div>
            <p (click)="viewDriverDetail()" class="title"> {{ jobs?.reciver_full_name }}</p>
            <p (click)="goToRatings()" class="rating"><i class="material-icons-outlined  f-s-17 m-r-5">star</i>
              <b>{{profileData?.rating}}</b>
            </p>
          </li>
        </ul>
        <!-- <a href="javascript:void(0)" class="secondary-content"><i class="material-icons">bookmark</i> ETA 02H</a> -->
        <div class="shape">
          <div>ETA</div>
          <div>02H</div>
        </div>


        <!-- NOT IN XD -->

        <!-- <div class="row m-b-5">
          <div class="col s6">
            <div class="dlvr-trackPackage-content">
              <p>
                <i class="material-icons">swap_calls</i>
                Distance: 2.4 meter
              </p>
            </div>
          </div>
          <div class="col s6">
            <div class="dlvr-trackPackage-content">
              <p>
                <i class="material-icons">access_time</i>
                Duration: 30 min
              </p>
            </div>
          </div>
        </div> -->
        <!-- <div class="row p-r-20 p-l-20 m-b-10" style="margin-top: 5%;">
          <div class="col s6">
            <a class="dlvr-btn green-btn" href="tel:1o834776565">
              <i class="material-icons">phone</i>
              Call
            </a>
          </div>
          <div class="col s6">
            <button class="dlvr-btn blue-btn">
              <i class="material-icons">chat_bubble</i>
              Chat
            </button>
          </div>
        </div> -->


        <div class="btn-section">
          <div> <a class="dlvr-btn green-btn" href="tel:{{jobs?.reciver_contact_number}}">
              <i class="material-icons">phone</i>
              Call
            </a></div>
          <div>
            <a class="dlvr-btn blue-btn">
              <i class="material-icons">chat_bubble</i>
              Chat
            </a>
          </div>
        </div>


        <div class="row">
          <div class="col s12">
            <div class="dlvr-otp">
              <p>Share this OTP with your delivery agent<br> only after the delivery.</p>
              <span class="otp">
                {{security}}
              </span>
            </div>
          </div>
        </div>

        <!-- PROGRESS BAR -->
        <!-- <div class="dlvr-progressBar">
          <div class="dlvr-progress-track"></div>
          <div id="step1" class="dlvr-progress-step">Waiting for driver</div>
          <div id="step2" class="dlvr-progress-step">Picked Package</div>
          <div id="step3" class="dlvr-progress-step">Delivered</div>
        </div>
        <div class="container dlvr-new-progress">
          <div class="row">
            <div class="col s12">
              <div class="progress">
                <div class="progress-bar" id="truckprogress"
                  style="width:0%; background:#26bae8; height: 12px; transition: .9s;"></div>
              </div>
            </div>
          </div>
        </div> -->

        <div class="order-track-footer">
          <div class="track-vehicle">
            <div>
              <div class="text">Assigning</div>
              <div class="upper-ball"></div>
              <div class="stright-line"></div>
            </div>
            <div>
              <div class="text">Assigned</div>

              <div class="upper-ball"></div>
              <div class="stright-line"></div>
            </div>
            <div>
              <div class="text">Pickup</div>

              <div class="upper-ball"></div>
              <div class="stright-line"></div>
            </div>
            <div>
              <div class="text">Arrived</div>

              <div class="upper-ball"></div>
              <div class="stright-line"></div>
            </div>
            <div>
              <div class="text">Delivered</div>

              <div class="upper-ball"></div>
              <div class="stright-line"></div>
            </div>
          </div>
          <!-- <img src="../../../../assets/images//truck_progress.png" class="truck-img">

          <div class="truck-footer">
          </div> -->
          <!--PROGRESS BAR-->
          <div class=" dlvr-new-progress">
            <div class="row" data-aos="fade-down">
              <div class="progress grey-line">
                <div class="progress-bar  blue-line" id="truckprogress" style="
                  width: 15%;
                  background: #26bae8;
                  height: 4px;
                  transition: 0.9s;
                "></div>
              </div>
            </div>
          </div>
          <!--PROGRESS BAR END-->
        </div>

      </div>
    </div>
  </div>
</div>