<app-header [headerTitle]="'Delivery Details'" [showBackButton]="true"></app-header>

<ion-content class="ion-margin ion-padding">
  <ion-item class="p-b-10" lines="none">

    <h5 class="delivery-heading">Delivery Completed</h5>

  </ion-item>

  <!-- <div>
    <ion-item class="ion-no-paddng ion-no-margin">
      <ion-label>
        <h6><b>Financial Details</b></h6>
      </ion-label>
    </ion-item>
    <ion-item lines="none" style="width: 100%;">
      <ion-label>
        <p>Payment Method</p>
      </ion-label>
      <p style="float: right;"><b>Paypal</b></p>


    </ion-item>
    <ion-item lines="none" style="width: 100%;">
      <ion-label>
        <p>Shipment Value</p>
      </ion-label>
      <p style="float: right;"><b>$35</b></p>

    </ion-item>
    <ion-item lines="none" style="width: 100%;">
      <ion-label>
        <p>Delivery Fee</p>
      </ion-label>
      <p style="float: right;"><b>$5</b></p>

    </ion-item>
    <ion-item lines="none" style="width: 100%;">
      <ion-label>
        <p>Discount</p>
      </ion-label>
      <p style="float: right;"><b>$0</b></p>

    </ion-item>
    <ion-item lines="none" style="width: 100%;">
      <ion-label>
        <p><b>Total</b></p>
      </ion-label>
      <p><b>$40</b></p>
    </ion-item>
  </div> -->

  <div class="finacnial-detail">
    <ion-item class="detail-header">
      <ion-label>Financial Details</ion-label>
    </ion-item>
    <ion-item class="detail-list" lines="none">
      <ion-label>Payment Method </ion-label>
      <ion-note slot="end">Pay pal</ion-note>
    </ion-item>
    <ion-item class="detail-list" lines="none">
      <ion-label> Shipment Value</ion-label>
      <ion-note slot="end">$ 99</ion-note>
    </ion-item>
    <ion-item class="detail-list" lines="none">
      <ion-label> Delivery Fee</ion-label>
      <ion-note slot="end">$ 99</ion-note>
    </ion-item>
    <ion-item class="detail-list" lines="none">
      <ion-label> Discount</ion-label>
      <ion-note slot="end">$ 99</ion-note>
    </ion-item>
    <ion-item class="detail-footer" lines="none">
      <ion-label> Total</ion-label>
      <ion-note slot="end">$ 99</ion-note>
    </ion-item>

  </div>

  <div class="dlvr-get-started-btn" (click)="goToDriver()">
    Job Completed
    <i class="fa fa-angle-right"></i>
    <i class="fa fa-angle-right" style="margin-left:-2px"></i>
    <i class="fa fa-angle-right" style="margin-left:-2px"></i>
  </div>


  <div class="customer-name">
    <ion-item class="customer-detail p-t-10 p-b-10 ion-no-padding ion-no-margin">
      <h6><b> Delivered to</b></h6>

    </ion-item>
    <p><b>{{track?.receiverName}}</b></p>
    <p><b>{{track?.receiverNumber}}</b></p>
    <p><b>{{track?.deliveryAddress}}</b></p>
  </div>
</ion-content>

<!-- background: rgb(213 232 255 / 48%); border-radius: 8px; -->