@import '../../../../../../node_modules/materialize-css/dist/css/materialize.css';
@import "../../market-place.component.scss";
span.cart-badge {
    position: absolute;
    top: -10px;
    right: -10px;
    color: white;
    font-size: 17px;
    font-weight: bold;
}

.white-nav {
    background-color: white;
    box-shadow: unset;
    h3,
    * {
        color: #000;
    }
    .brand-logo {
        font-size: 1.45em;
        font-weight: bold;
        .nav-heading {
            font-size: 1.5em;
            margin: 10px auto;
        }
    }
}

.dlvr-hamburger {
    .icon-background {
        color: #e4e4e4;
    }
}

.back-button {
    position: absolute;
    /* z-index: 1; */
    height: 56px;
    margin: 0 18px;
}

.profile-container {
    position: relative;
    z-index: 1;
    height: 56px;
    margin: 0 18px;
    float: left;
    .user-name {
        float: left;
    }
    .user-role {
        float: left;
    }
}