@import '../../../../../../node_modules/materialize-css/dist/css/materialize.css';
#myCarousel {
    height: unset
}
.img-height-width-position{
    height: auto;
    width: 100%;
    margin-top: 20%;
    filter: none;
}