<!-- <app-header
  style="height: 60px"
  [headerTitle]="'Order a Delivery'"
  [showBackButton]="true"
></app-header> -->
<!-- <div class="dlvr-post-job-wrapper"></div> -->

<ion-content>
  <form [formGroup]="postJobForm">
    <div class="p-0 main-container">
      <!--PROGRESS BAR-->
      <div class="container dlvr-new-progress">
        <div class="row" data-aos="fade-down">
          <div class="col s12">
            <div class="progress">
              <div class="progress-bar" id="truckprogress" style="
                  width: 15%;
                  background: #26bae8;
                  height: 4px;
                  transition: 0.9s;
                "></div>
            </div>
          </div>
        </div>
      </div>
      <!--PROGRESS BAR END-->
      <!--STEP 1 of 5-->

      <img src="assets/images/city_background_bg.png" alt="city bg" class="dlvr-postJob-bg-img img-responsive" />
      <div class="dlvr-postJob-screen-wrapper step1" *ngIf="step == 'step1'">
        <div class="img-wrapper">
          <img src="assets/images/address_icon.png" alt="address_icon" class="icon-img" />
        </div>
        <div class="dlvr-postJob-step1">
          <h2 class="title">
            Let's create your <br />
            delivery route
          </h2>
          <div class="dlvr-input-container pickup">
            <div class="heading-point1"></div>
            <div class="heading-vertical1"></div>
            <div style="position: relative !important" (click)="openAutoComplete('pick')">
              <p class="pickup-address">Pickup Address</p>
              <input type="text" readonly="true" placeholder="Street Address" formControlName="sourceAddress" />
            </div>
            <small>ex. 1010 Riverfront, TX 75038</small>
            <input type="text" placeholder="Appartment/Suit#" formControlName="sourceAddressAppartment" />
          </div>
          <div class="dlvr-input-container delivery">
            <div class="heading-point2"></div>
            <div class="heading-vertical2"></div>
            <div style="position: relative !important" (click)="openAutoComplete('drop')">
              <p class="delivery-address">Delivery Address</p>
              <input type="text" readonly="true" placeholder="Street Address" class="mb-0"
                formControlName="deliveryAddress" />
            </div>

            <small>ex. 1010 Riverfront, TX 75038</small>
            <input type="text" placeholder="Appartment/Suit#" formControlName="deliveryAddressAppartment" />
          </div>
          <!-- <button class="btn-full-width dlvr-uikit-btn dlvr-uikit-btn-blue m-t-30 verify noactualbutton" type="button" [disabled]="postJobForm.get('sourceAddress').invalid || postJobForm.get('deliveryAddress').invalid || postJobForm.get('sourceAddressAppartment').invalid || postJobForm.get('deliveryAddressAppartment').invalid" (click)="next()">Next1</button> -->

          <div class="fix-position">
            <ion-button class="ion-margin add-btn" expand="block" (click)="next()">Next
            </ion-button>
          </div>

          <!-- <agm-map [latitude]="lat" [longitude]="lng" width="600" frameborder="0" allowfullscreen=""
                        class="dlvr-map" [usePanning]="true" *ngIf="origin && destination">
                        <agm-direction [origin]="origin" [destination]="destination" *ngIf="origin && destination"
                            [renderOptions]="renderOptions" [markerOptions]="markerOptions"
                            (onResponse)="onResponse($event)">
                        </agm-direction>
                    </agm-map> -->
          <!-- <div class="dlvr-postJob-input-wrapper" data-aos="fade-left">
                        <h2 class="dlvr-postJob-title">Where can we Pick up and Deliver your package?</h2>

                        <div class="dlvr-uikit-icon-input">
                            <i class="material-icons-outlined">pages</i>
                            <input type="text" class="dlvr-uikit-input" placeholder="Enter Pickup Address"
                                formControlName="sourceAddress" #originSearch />
                        </div>
                        <div class="dlvr-uikit-icon-input">
                            <i class="material-icons-outlined">home</i>
                            <input type="text" class="dlvr-uikit-input" placeholder="Enter Delivery Address"
                                formControlName="deliveryAddress" #destinationSearch />
                        </div>
                    </div> -->
        </div>
      </div>
      <!--STEP 1 of 5 END-->

      <!--STEP 2 of 5-->
      <div class="dlvr-postJob-screen-wrapper step2" style="height: auto !important" *ngIf="step == 'step2'">
        <!-- <img src="../../../../assets/images/city_background_bg.png" alt="city bg" class="dlvr-postJob-bg-img img-responsive"> -->
        <div class="img-wrapper">
          <img src="../../../../assets/images/package_category_icon.png" alt="package_category_icon"
            class="category-img" data-aos="zoom-in" />
        </div>
        <div>
          <div>
            <div class="row" data-aos="fade-left">
              <div class="col s11 p-r-30 p-l-30">
                <h2 class="category-title">
                  Select a category of<br />
                  your package
                </h2>
                <div class="row item-div">
                  <!-- <div class="col s4 dlvr-category-card-padding" -->
                  <div class="col s4 dlvr-category-card-padding" *ngFor="let category of categoryList">
                    <!-- <div class="dlvr-uikit-card dlvr-uikit-icon-card dlvr-uikit-icon-card-green m-b-10" -->
                    <div class="dlvr-uikit-card dlvr-uikit-icon-card dlvr-uikit-icon-card-green m-b-10"
                      [ngClass]="{'active': category?.labelName == postJobForm.controls['itemCategory'].value }"
                      (click)="selectingCategory(category?.labelName)">
                      <label class="dlvr-uikit-radio"
                        [ngClass]="{'dlvr-uikit-radio-green': category?.labelName == postJobForm.controls['itemCategory'].value }">
                        <input name="radioCategory" value="{{category?.labelName}}" type="radio"
                          [checked]="category?.labelName == postJobForm.controls['itemCategory'].value" />
                        <!-- <span></span> -->
                        <ion-icon
                          [ngClass]="category?.labelName == postJobForm.controls['itemCategory'].value ? 'tick-icon' : 'tick-icon-off'"
                          name="checkmark"></ion-icon>
                      </label>
                      <img src="{{category?.imgSrc}}" alt="{{category?.labelName}}" class="dlvr-category-img" />
                      <p style="margin: 1px 0 0 0" class="center">
                        {{ category?.labelName }}
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- <button class="btn-full-width dlvr-uikit-btn dlvr-uikit-btn-blue m-t-20 verify noactualbutton" type="button" (click)="next()" [disabled]="!postJobForm.controls['itemCategory'].valid">Next2</button> -->

            <div class="fix-position">
              <ion-button class="ion-margin add-btn" expand="block" (click)="next()" [disabled]="!categoryBtnEnabled">
                Next</ion-button>
            </div>
          </div>
        </div>
      </div>
      <!--STEP 2 of 5 END-->
      <!--STEP 3 of 5-->
      <div class="dlvr-postJob-screen-wrapper step3" style="height: auto !important" *ngIf="step == 'step3'">
        <div class="img-wrapper">
          <img src="../../../../assets/images/select_vehicle_icon.png" alt="select_vehicle_icon" class="shop-truck"
            data-aos="zoom-in" />
        </div>
        <div class="dlvr-postJob-step2">
          <div class="container">
            <div class="row" data-aos="fade-left">
              <div class="col s12 p-r-30 p-l-30" style="margin: 0 0 49% 0">
                <h2 class="title-select-vehicle">
                  Select a vehicle<br />
                  your package fits into
                </h2>
                <div class="row">
                  <div class="col s12" (click)="btnSetForVehical()">
                    <div class="dlvr-uikit-card dlvr-uikit-icon-card dlvr-uikit-icon-card-green"
                      [ngClass]="{'active': postJobForm.controls['deliveryVehicle'].value == 'sedan' }"
                      (click)="setdeliveryVehicle('sedan')">
                      <label class="dlvr-uikit-radio"
                        [ngClass]="{'dlvr-uikit-radio-green': postJobForm.controls['deliveryVehicle'].value == 'sedan' }">
                        <input name="radioSize" type="radio"
                          [checked]="postJobForm.controls['deliveryVehicle'].value == 'sedan'" />
                        <!-- <span></span> -->
                        <ion-icon
                          [ngClass]="postJobForm.controls['deliveryVehicle'].value == 'sedan' ? 'tick-icon1' : 'tick-icon-off'"
                          name="checkmark"></ion-icon>
                      </label>
                      <div class="">
                        <div class="col s6">
                          <img src="../../../../assets/images/sedan_icon.png" alt="sedan_icon"
                            class="dlvr-car-category-img" />
                        </div>
                        <div class="col s6">
                          <p class="dlvr-car-category-title">Sedan</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col s12" (click)="btnSetForVehical()">
                    <div class="dlvr-uikit-card dlvr-uikit-icon-card dlvr-uikit-icon-card-green"
                      [ngClass]="{'active': postJobForm.controls['deliveryVehicle'].value == 'suv' }"
                      (click)="setdeliveryVehicle('suv')">
                      <label class="dlvr-uikit-radio"
                        [ngClass]="{'dlvr-uikit-radio-green': postJobForm.controls['deliveryVehicle'].value == 'suv' }">
                        <input name="radioSize" type="radio"
                          [checked]="postJobForm.controls['deliveryVehicle'].value == 'suv'" />
                        <!-- <span></span> -->
                        <ion-icon
                          [ngClass]="postJobForm.controls['deliveryVehicle'].value == 'suv' ? 'tick-icon1' : 'tick-icon-off'"
                          name="checkmark"></ion-icon>
                      </label>
                      <div class="">
                        <div class="col s6">
                          <img src="../../../../assets/images/suv_icon.png" alt="suv_icon"
                            class="dlvr-car-category-img" />
                        </div>
                        <div class="col s6">
                          <p class="dlvr-car-category-title">SUV</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col s12" (click)="btnSetForVehical()">
                    <div class="dlvr-uikit-card dlvr-uikit-icon-card dlvr-uikit-icon-card-green"
                      [ngClass]="{'active': postJobForm.controls['deliveryVehicle'].value == 'truck' }"
                      (click)="setdeliveryVehicle('truck')">
                      <label class="dlvr-uikit-radio"
                        [ngClass]="{'dlvr-uikit-radio-green': postJobForm.controls['deliveryVehicle'].value == 'truck' }">
                        <input name="radioSize" type="radio"
                          [checked]="postJobForm.controls['deliveryVehicle'].value == 'truck'" />
                        <!-- <span></span> -->
                        <ion-icon
                          [ngClass]="postJobForm.controls['deliveryVehicle'].value == 'truck' ? 'tick-icon1' : 'tick-icon-off'"
                          name="checkmark"></ion-icon>
                      </label>
                      <div class="">
                        <div class="col s6">
                          <img src="../../../../assets/images/truck_icon.png" alt="truck_icon"
                            class="dlvr-car-category-img" />
                        </div>
                        <div class="col s6">
                          <p class="dlvr-car-category-title">Truck</p>
                        </div>
                      </div>
                      <!-- <i class="material-icons-outlined">center_focus_strong</i> -->
                      <!-- <p class="center m-0">Truck</p> -->
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- <button class="btn-full-width dlvr-uikit-btn dlvr-uikit-btn-blue m-t-20 verify noactualbutton" type="button" (click)="next()" [disabled]="!postJobForm.controls['deliveryVehicle'].valid">Next3</button> -->
            <div class="fix-position">
              <ion-button [disabled]="!btnEnabledForVehical" class="ion-margin add-btn" expand="block" (click)="next()">
                Next</ion-button>
            </div>
          </div>
        </div>
      </div>
      <!--STEP 3 of 5 END-->
      <!--STEP 4 of 5-->
      <div *ngIf="openInstruction" class="modaals">
        <div class="modal-inner">
          <div class="instruction">
            <span><img src="assets\images\detail-instruction.png" /></span>
            <h6>Add Instruction</h6>
          </div>
          <textarea class="instruction-textarea"
            placeholder="Please Contact James number (+1 23 43134) once your reach the pickup address"></textarea>
          <button class="inst-btn" (click)="closeInstruction()">Save</button>
        </div>
      </div>
      <div class="dlvr-postJob-screen-wrapper step4" style="height: 115vh !important" *ngIf="step == 'step4'">
        <div class="img-time">
          <!-- <div class="img-wrapper"> -->
          <img src="../../../../assets/images/delivery_type.png" alt="delivery_type" class="icon-img"
            data-aos="zoom-in" />
        </div>
        <div class="dlvr-postJob-step2">
          <div class="container">
            <div id="overlay" *ngIf="!hidden">
              <ion-calendar class="calender" (change)="onChange($event)" [format]="'YYYY-MM-DD'"
                formControlName="deliveryDate">
              </ion-calendar>
            </div>
            <div class="row" data-aos="fade-left">
              <div class="col s12 p-r-30 p-l-30">
                <h2 class="title-delivery-type m-t-20">
                  Select a delivery type
                </h2>
                <div class="dlvr-postJob-timeType dlvr-postJob-timeType-blue">
                  <div class="row">

                    <ion-radio-group>
                      <div class="col s6">
                        <div class="dlvr-uikit-card dlvr-uikit-icon-card dlvr-uikit-icon-card-green asap-green "
                          [ngClass]="{'active': postJobForm.controls['deliveryType'].value == 'Immediate' }  "
                          (click)="activeType('Immediate')">
                          <div class="col s6">
                            <p class="dlvr-car-category-title asap-title">ASAP</p>
                          </div>
                          <label class="dlvr-uikit-radio">
                            <input name="radioSize" type="radio"
                              [checked]="postJobForm.controls['deliveryType'].value == 'Immediate'" />
                            <!-- <span></span> -->
                            <ion-icon
                              [ngClass]="postJobForm.controls['deliveryType'].value == 'Immediate' ? 'tick-icon2' : 'tick-icon-off'"
                              name="checkmark"></ion-icon>
                          </label>

                        </div>
                        <!-- <ion-item>
                          <ion-label>
                            ASAP
                          </ion-label>
                          <ion-radio formControlName="deliveryType"></ion-radio>
                          <ion-icon
                          [ngClass]="postJobForm.controls['deliveryType'].value == 'Immediate' ? 'tick-icon' : 'tick-icon-off'"
                          name="checkmark"
                        ></ion-icon>
                        </ion-item> -->
                        <!-- <div
                          class="dlvr-radio dlvr-radio-green p-0"
                          [ngClass]="{'active': postJobForm.controls['deliveryType'].value == 'Immediate' }"
                        >
                          <label
                            class="dlvr-uikit-radio dlvr-uikit-radio-green delivery-label"
                          >
                            <input
                              value="Immediate"
                              type="radio"
                              formControlName="deliveryType"
                            />
                            <ion-icon
                              [ngClass]="postJobForm.controls['deliveryType'].value == 'Immediate' ? 'tick-icon' : 'tick-icon-off'"
                              name="checkmark"
                            ></ion-icon>

                            <p>ASAP</p>
                          </label>
                        </div> -->
                      </div>
                      <div class="col s6">
                        <div class="dlvr-uikit-card dlvr-uikit-icon-card dlvr-uikit-icon-card-green asap-green"
                          [ngClass]="{'active': postJobForm.controls['deliveryType'].value == 'flexible' }  "
                          (click)="activeType('flexible')">
                          <div class="col s6">
                            <p class="dlvr-car-category-title asap-title">Flexible</p>
                          </div>
                          <label class="dlvr-uikit-radio">
                            <input name="radioSize" type="radio"
                              [checked]="postJobForm.controls['deliveryType'].value == 'flexible'" />
                            <ion-icon
                              [ngClass]="postJobForm.controls['deliveryType'].value == 'flexible' ? 'tick-icon2' : 'tick-icon-off'"
                              name="checkmark"></ion-icon>
                          </label>

                        </div>
                        <!-- <div
                          class="dlvr-radio dlvr-radio-green p-0"
                          [ngClass]="{'active': postJobForm.controls['deliveryType'].value == 'Flexible' }"
                        >
                          <label
                            class="dlvr-uikit-radio dlvr-uikit-radio-green delivery-label"
                          > -->
                        <!-- (click)="activateandDeactivateCalendarModal()" -->
                        <!-- <input
                              value="Flexible"
                              type="radio"
                              formControlName="deliveryType"

                            />
                            <ion-icon
                              [ngClass]="postJobForm.controls['deliveryType'].value == 'Flexible' ? 'tick-icon' : 'tick-icon-off'"
                              name="checkmark"
                            ></ion-icon>
                            <p>Flexible</p>
                          </label> -->
                        <!-- </div> -->
                        <!-- <span></span> -->
                      </div>

                    </ion-radio-group>


                  </div>
                  <div class="row scrollmenu" *ngIf="urls.length != 0">
                    <div class="eachitem col s3 m3 image-item" *ngFor="let url of urls;index as i">
                      <i *ngIf="url.selected || url.uploaded" class="icon-close" (click)="justDelete(i)"></i>
                      <img class="obj-image" [src]="url.link" />
                    </div>
                    <div class="eachitem col s4 m4 plus-add-image-block" *ngIf="urls.length < 5" (click)="openFile()">
                      <i class="fa fa-plus" aria-hidden="true"></i>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col s12">
                      <input type="file" id="image" style="display: none" #fileupload
                        accept="image/x-png,image/gif,image/jpeg" multiple="true" class="fileupload" name="fileupload"
                        (change)="onSelectFile($event)" />

                      <button class="dlvr-add-photos-btn" (click)="openFile()">
                        <i class="material-icons">library_add</i>
                        Add Photos
                      </button>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col s12">
                      <ul class="collection dlvr-instruction">
                        <li class="collection-item avatar" (click)="openModel()">
                          <i class="material-icons-outlined circle">speaker_notes</i>
                          <span class="title">Any instruction to the driver?</span>
                          <p>e.g. please wait in the parking bay</p>
                        </li>
                      </ul>
                    </div>
                  </div>

                  <div class="row" data-aos="fade-left">
                    <div class="col s12">
                      <p class="title-delivery-amount">Delivery Amount</p>
                      <div class="dlvr-uikit-icon-input">
                        <i class="material-icons-outlined">attach_money</i>
                        <input type="number" min="{{postJobForm.controls['jobAmount'].value}}" placeholder="23"
                          class="dlvr-uikit-input dlvr-uikit-input-grey" formControlName="jobAmount" />
                        <i class="material-icons-outlined edit-ammount">edit</i>
                      </div>


                      <!-- <textarea class="dlvr-uikit-input dlvr-uikit-input-grey"
                                                placeholder="Any Instructions For Driver..."
                                                formControlName="instructionForReceiver"></textarea> -->

                      <!-- <button class="btn-full-width dlvr-uikit-btn dlvr-uikit-btn-small dlvr-uikit-btn-blue"
                                                type="button" [disabled]="!postJobForm.controls['jobAmount'].valid" (click)="next()">NEXT</button> -->
                    </div>
                  </div>
                  <p style="font-style: italic">
                    If you enter less amount than the default, chances of driver
                    accepting may be reduced and so your delivery may be
                    delayed.
                  </p>
                </div>
              </div>
            </div>

            <div class="fix-position">
              <ion-button class="ion-margin add-btn" expand="block" (click)="next()">
                <ion-spinner *ngIf="this.step == 5 && loader"></ion-spinner>
                <p style="text-align: center">Paynow</p>
              </ion-button>
            </div>

            <!-- <button class="btn-full-width dlvr-uikit-btn dlvr-uikit-btn-blue m-t-20 verify noactualbutton"
                            type="button" (click)="next()"
                            [disabled]="!postJobForm.controls['deliveryType'].valid">Next4</button> -->
          </div>
        </div>
      </div>
      <!--STEP 4 of 5 END-->

      <!--STEP 5 of 5-->
      <!-- <div class="dlvr-postJob-screen-wrapper step5" *ngIf="step == 'step5'">
        <div class="img-wrapper">
          <img src="../../../../assets/images/phone_icon.png" alt="phone_icon" class="icon-img" data-aos="zoom-in">
        </div>
        <div class="dlvr-postJob-step2">
          <div class="container">
            <div class="row" data-aos="fade-left" style="position:fixed">
              <div class="col s12">
                <h2 class="title m-t-10 m-b-20">Reciever Details</h2>

                <input type="text" class="dlvr-uikit-input dlvr-uikit-input-grey" placeholder="Reciever's Name"
                  formControlName="receiverName" />

                <input type="text" class="dlvr-uikit-input dlvr-uikit-input-grey"
                  placeholder="Reciever's Contact Number" formControlName="receiverNumber" />

                <h3>Delivery Amount</h3>
                <div class="dlvr-uikit-icon-input">
                  <i class="material-icons-outlined">attach_money</i>
                  <input type="number" min="{{postJobForm.controls['jobAmount'].value}}" placeholder="23"
                    class="dlvr-uikit-input dlvr-uikit-input-grey" formControlName="jobAmount" />
                  <i class="material-icons-outlined edit-ammount">edit</i>
                </div>

              </div>
            </div>

            <div class="fix-position">
              <button class="btn-full-width dlvr-uikit-btn dlvr-uikit-btn-blue m-t-20 verify noactualbutton"
                type="button"
                [disabled]="!postJobForm.controls['jobAmount'].valid || !postJobForm.controls['receiverName'].valid || !postJobForm.controls['receiverNumber'].valid"
                (click)="next()">Pay now</button>

            </div>

          </div>
        </div>
      </div> -->

      <!--STEP 5 of 5 END-->
    </div>
    <div class="dlvr-modal dlvr-confirmLocation-modal" materialize *ngIf="step == 'step1'">

      <div id="modal1" class="modal bottom-sheet" materialize="modal">
        <div class="modal-content">
          <p>
            <i class="material-icons">swap_calls</i> <b>Distance:</b> {{
            totalDistance }} <i class="material-icons m-l-10">access_time</i>
            <b>Duration:</b> {{ totalDuration }}
          </p>
        </div>
        <div class="modal-footer">
          <div class="dlvr-modal-btn-wrapper">
            <div class="fix-position">
              <button class="dlvr-uikit-btn dlvr-uikit-btn-rounded dlvr-uikit-btn-small dlvr-uikit-btn-blue"
                (click)="next()">
                Confirm Location
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="dlvr-modal dlvr-instruction-modal" materialize *ngIf="step == 'step4'">
            <div id="instruction" class="modal white" materialize="modal" [materializeParams]="[{dismissible: true}]"
                [materializeActions]="modalActions">
                <div class="modal-content">
                    <ul class="collection dlvr-instruction">
                        <li class="collection-item avatar white">
                            <i class="material-icons-outlined circle">speaker_notes</i>
                            <span class="title">Add instruction</span>
                        </li>
                    </ul>
                    <textarea class="dlvr-uikit-input dlvr-uikit-input-grey" rows="8" placeholder="Write here..." formControlName="instructionForReceiver"></textarea>
                    <div class="dlvr-modal-btn-wrapper">
                        <button class="dlvr-uikit-btn dlvr-uikit-btn-rounded dlvr-uikit-btn-small dlvr-uikit-btn-blue"
                            (click)="saveInstructions('instruction')">Save</button>
                    </div>
                </div>
            </div>
        </div> -->
    <!-- <input type="text" class="dlvr-text-input m-t-0" [hidden]="true"
placeholder="Select Date" formControlName='deliveryDate'/> -->
  </form>
</ion-content>
<ion-footer> </ion-footer>