<app-setting-header [title]="'Payment Method'"></app-setting-header>


<div class="row bg-lightBlue">
  <div class="col s12">
    <p class="m-t-20 m-b-20 f-s-13"><b>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod perspiciatis
        quidem porro corporis rem non?</b></p>
  </div>
</div>


<ion-content>
  <div class="dlvr-policy-screen-wrapper">
    <div class="" data-aos="fade-up">
      <div class="row paypal-row">
        <div class="col s3">
          <img src="../../../assets/images/paypal-logo.png" class="paypal-logo">
        </div>
        <div class="col s6 paypal-txt">
          Set up Paypal
        </div>
        <div class="col s3 p-r-10">
          <ion-icon name="chevron-forward-outline" class="p-r-10"></ion-icon>
        </div>
      </div>
    </div>
  </div>
</ion-content>